services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 5s
      timeout: 3s
      retries: 5
      start_period: 5s

  migrate:
    image: amacneil/dbmate:latest
    depends_on:
      - postgres
    environment:
      DATABASE_URL: "postgres://${DB_USER}:${DB_PASSWORD}@postgres:5432/${DB_NAME}?sslmode=disable"
      DBMATE_MIGRATIONS_DIR: "/db/migrations"
    volumes:
      - ./db/migrations:/db/migrations
    command: ["up"]
    restart: "on-failure"

  app:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - postgres
      - migrate
    env_file:
      - .env
    environment:
      DB_HOST: "postgres"
    ports:
      - "${APP_PORT}:8080"
    restart: on-failure

volumes:
  postgres_data:

networks:
  default:
    name: effectivetask_net
